<section class="section">
  <p class="title is-1 has-text-centered"><%= t('app_title') %></p>
  <p class="subtitle is-3 has-text-centered"><%= t('app_description') %></p>

  <div class="section has-text-centered">
    <%= link_to new_recipe_path, class: 'has-text-right' do %>
      <button class="button is-link is-medium ">Create a Recipe</button>
    <% end %>
  </div>
</section>

<div class="has-text-centered">
  <figure class="image is-960x720 is-inline-block">
      <img src="https://i.ibb.co/B3JSjjW/icon-g0ede1b0fb-1280.png"/>
  </figure>
</div>